*{margin: 0;}
.base{
    height: min-content;
    width: min-content;
    border: ;
}
.header {
    background: #ffffff;
    
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 14, 14);
    padding: 4px;
    font-family: sans-serif;
    text-shadow: 2px 2px #fffffe;
    height: 100%;
    width:
    position: absolute;
    border: 1px solid black;
}

.control-panel {
    position: relative;
    
    background: rgb(255, 254, 254);
     height: 50%;
    padding: 1px;
    font-family: sans-serif;
    /* border-style: dashed; */
    width: 100%;

    
}
.pic{
    position: relative;
   
    height: 53px;
    width: 100.43;


}
.box
{ display: inline-block;
    border: 2px solid #d3d0c3;
    margin: 2px;
    height: 35px;
    width: 40px;
    border-style: double;
    cursor: pointer;
    border-radius: 12px;
    
}
.clear
{
    position: absolute;
    background: #b6deeb;
     
        right: 10%;
    color: rgb(10, 10, 10);
    padding: %;
    border: solid black;
    height: 100%;
    width: 4%;
    border-radius: 100%;
    cursor: pointer;
    text-rendering: auto;
    writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    text-align: center;

}
.btn {
    position: absolute;
    background: #fc0000;
        left: 95%;
        
    color: white;
    padding: %;
    border: solid black;
    border-radius: 100%;
    cursor: pointer;
    height: 100%;
    width: 4%;
    

}
#lang
{
    
    float: right;
    left: 40rem;
    
}


.outer{
    position: absolute;
    /* border: solid 5px #fc0000; */
    height: 82%;
    width: 99%;
}


#editor { 
    
    position: relative;
    height: 102.5%;
    width: 70.5%;
    font-size: larger;
            }

       

 #input {
    position: relative;
    bottom: 102%;
    left: 70.5%;
    height: 30%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-style: double;
}
#overall {
    position: relative;
    left: 70.5%;
    height: 70%;
bottom: 102%;
    background-color: #fffafa;
    width: 30%;
    border-style: double;
}
#output{
    position: relative;
    left:0%;
    height: 20.6%;
bottom: 1%;
    background-color: #fffafa;
    width: 100%;

}
#compilation{
    position: relative;
    left:0%;
    height: 32%;
bottom: 1%;
    background-color: #fffafa;
    width: 100%;

}
.message
{
    position: relative;
    left:0%;
    height: 47%;
bottom: 1%;
    background-color: #fffafa;
    width: 100%;
    border: solid  black;
}
            
.in textarea
{
    width: 100%;
    height: 250px;
    padding: 0%;
    font-size: 16px;
    resize: none;
    outline: none;
    
    margin-top: 0%;

}
textarea:is(:focus,:valid)
{
    border-color: black;
}
textarea::-webkit-scrollbar
{
    width: 0%;
}
/* .button-container {
    position: fixed;
    text-align: right;
    padding: 4px;
    right: 1cm;
    bottom: 4px;
} */


#box2
{
    position: fixed;
    top: 1.cm;
    width: 45px;
}

.button-clear{
    position: fixed;
    text-align: right;
    padding: 4px;
    right: 1cm;
    bottom: 4%;
}

#btnIcon
{
    height: 18px; width: 21px;
}